@media screen and (min-width:600px){
	#primary{
		width:50%;
		float:left;
	}
	#secondary{
		width:40%;
		float:right;
	}
	
	#gallery li{
		width:28.3333%;
	}
	
	.profile-photo{
		float:left;
		margin:0 5% 80px 30%;
	}
}
